<p id="notice"><%= notice %></p>

<h1>TechBlogsまとめ</h1>

<table>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><a href=<%= blog.url %> target="blank"><%= image_tag blog.image.thumb.url %></a></td>
        <td><%= blog.title %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
