// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.company {
  color: white;
  font-size: 16px;
  background: #ed6868;
  margin-right: 10px;
  padding: 5px;
  margin-bottom: -10px;
}