<div class='header'>
  <div class='header__inner clearfix container'>
    <%= link_to root_path, :class => 'header__logo' do %>
      <%= image_tag 'logo.png', :class => 'header__logo-images' %>
    <% end %>
    <div class='change-with-device'>
      <div class='change-with-device__pc'>
        <small class='header__text'>
          <h1>あいうえおかきくけこ</h1>
        </small>
        <div class='header__button-area'>
          <ul class='list clearfix'>
          </ul>
        </div>
      </div>
      <div class='change-with-device__sp change-with-device__tab'>
        <div class='header__button-area'>
          <ul class='list clearfix'>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
